[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/mowlandcodes/my-nvim-config-lua
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = https://github.com/mowlandcodes/my-wezterm-config
